/* GOOGLE Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Variable CSS */
:root{
    --header-height: 3.5rem;
    --nav-width: 219px;

    /* Colors */
    --first-color: #6923D0;
    --first-color-light: #F4F0FA;
    --title-color: #19181B;
    --text-color: #58555E;
    --text-color-light: #A5A1AA;
    --body-color: #F9F6FD;
    --container-color: #FFFFFF;

    /* Font & Typography */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;

    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* z-index */
    --z-fixed: 100;
}

@media screen and(min-width: 1024px){
        
    :root{
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

}

/* Base */
*,::before,::after{
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0 !important;
    padding: 1rem 1rem 0 !important;
    font-family: var(--body-font) !important;
    font-size: var(--normal-font-size) !important;
    background-color: var(--body-color) !important;
    color: var(--text-color) !important;
}

h3{
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* Header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22, 8, 43, .1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
}


.header_container{
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
}

.header_img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header_logo{
    color: var(--title-color);
    font-weight: var(--font-medium);
    display: none;
}

.header_search{
    display: flex;
    padding: .40rem .75rem;
    background-color: var(--first-color-light);
    border-radius: .25rem;
}

.header_input{
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--first-color-light);
}

.header_input::placeholder{
    font-family: var(--body-font);
    color: var(--text-color);
}

.header_icon,.header_toggle{
    font-size: 1.2rem;

}
.header_toggle{
    color: var(--title-color);
    cursor: pointer;
}

/* Nav */
.nav{
    position: fixed;
    top: 0;
    /* left: 0; */
    left: -100%;
    height: 100vh;
    padding: 1rem 1rem 3rem;
    background-color: var(--container-color);
    box-shadow: 1px 0 0 rgba(22, 8, 43, .1);
    z-index: var(--z-fixed);
    transition: 0.7s;
}

.nav_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none; /*For Mozilla*/
}

.nav_container::-webkit-scrollbar{
    display: none; /*For Google Chrom and Others*/
}

.nav_logo{
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.nav_list,.nav_items{
    display: grid;
}

.nav_list{
    row-gap: 2.5rem;
}

.nav_items{
    row-gap: 1.5rem;
}



.nav_subtitle{
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--text-color-light);
}

.nav_link{
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.nav_link:hover{
    color: var(--first-color);
}

.nav_icon{
    font-size: 1.2rem;
    margin-right: .5rem;
}

.nav_name{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    white-space: nowrap;
}

.nav_logout{
    margin-top: 5rem;
}

/* Dropdown */

.nav_dropdown{
    overflow: hidden;
    max-height: 21px; 
    transition: .4s ease-in-out;
}

.nav_dropdown-collapse{
    background-color: var(--first-color-light);
    border-radius: .25rem;
    margin-top: 1rem;
}

.nav_dropdown-content{
    display: grid;
    row-gap: .5rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav_dropdown-item{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.nav_dropdown-item:hover{
    color: var(--first-color);
}

.nav_dropdown-icon{
    margin-left: auto;
    transition: .4s;
}

/* Show Collapse */

 /* .nav_dropdown:hover{
    max-height: 100rem;
}  */

@media screen and (max-width: 320px) {
    .header_search {
        width: 70%;
    }
}


@media screen and (min-width: 768px) {

    body{
        padding: 1rem 3rem 0 6rem;
    }

    .header{
        padding: 0 3rem 0 6rem;
    }

    .header_container{
        height: calc(var(--header-height) + .5rem);
    }

    .header_search{
        width: 300px;
        padding: .55rem .75rem;
    }

    .header_toggle{
        display: none;
    }

    .header_logo{
        display: block;
    }

    .header_img{
        width: 40px;
        height: 40px;
        order: 1;
    }

    .nav{
        left: 0;
        padding: 1.2rem 1.5rem 3rem;
        width: 68px;
    }

    .nav_items{
        row-gap: 1.7rem;
    }

    .nav_icon{
        font-size: 1.3rem;
    }

    .nav_logo-name,.nav_name,.nav_subtitle,.nav_dropdown-icon{
        opacity: 0;
        transition: .3s;
    }

    .nav:hover{
        width: var(--nav-width);
    }

    .nav:hover .nav_logo-name,.nav:hover .nav_subtitle,.nav:hover .nav_name,.nav:hover .nav_dropdown-icon{
        opacity: 1;
    }

    
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #58555E;
    border-bottom: 16px solid #58555E;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



